<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Setting</key>
	<dict>
		<key>XLoggerComponentKeyOwner</key>
		<true/>
		<key>XLoggerComponentKeyTime</key>
		<true/>
		<key>XLoggerComponentKeyFunction</key>
		<false/>
		<key>XLoggerComponentKeyFile</key>
		<true/>
		<key>XLoggerComponentKeyThread</key>
		<false/>
		<key>InfoTitle</key>
		<string>LOG</string>
		<key>WarningTitle</key>
		<string>&lt;WARNING&gt;</string>
		<key>ErrorTitle</key>
		<string>*&lt;ERROR&gt;*</string>
	</dict>
	<key>Owner</key>
	<dict>
		<key>---说明:bits</key>
		<string>0(off)1(info)2(warning)4(error)</string>
		<key>---说明:bits&amp;</key>
		<string>info+warning+error=1+2+4=7</string>
		<key>XLoggerOwnerKeyAll</key>
		<integer>0</integer>
		<key>Database</key>
		<integer>4</integer>
		<key>Network</key>
		<integer>4</integer>
		<key>sy</key>
		<integer>7</integer>
		<key>cs</key>
		<integer>0</integer>
		<key>wyq</key>
		<integer>0</integer>
		<key>zzy</key>
		<integer>0</integer>
		<key>zh</key>
		<integer>0</integer>
		<key>tsc</key>
		<integer>0</integer>
		<key>lw</key>
		<integer>0</integer>
		<key>phm</key>
		<integer>0</integer>
		<key>wl</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
