<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Setting</key>
	<dict>
		<key>XLoggerComponentKeyOwner</key>
		<true/>
		<key>XLoggerComponentKeyTime</key>
		<false/>
		<key>XLoggerComponentKeyFunction</key>
		<false/>
		<key>XLoggerComponentKeyFile</key>
		<true/>
		<key>XLoggerComponentKeyThread</key>
		<false/>
		<key>InfoTitle</key>
		<string>LOG</string>
		<key>WarningTitle</key>
		<string>&lt;WARNING&gt;</string>
		<key>ErrorTitle</key>
		<string>*&lt;ERROR&gt;*</string>
	</dict>
	<key>Owner</key>
	<dict>
		<key>XLoggerOwnerKeyAll</key>
		<integer>0</integer>
		<key>Database</key>
		<integer>4</integer>
		<key>Network</key>
		<integer>4</integer>
		<key>sy</key>
		<integer>7</integer>
	</dict>
</dict>
</plist>
