<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>settings</key>
	<dict>
		<key>owner</key>
		<true/>
		<key>timestamp</key>
		<false/>
		<key>function</key>
		<false/>
		<key>file</key>
		<true/>
		<key>thread</key>
		<false/>
		<key>xlogTitle</key>
		<string>LOG</string>
		<key>xwarningTitle</key>
		<string>&lt;WARNING&gt;</string>
		<key>xerrorTitle</key>
		<string>*&lt;ERROR&gt;*</string>
	</dict>
	<key>show</key>
	<dict>
		<key>---说明:bits</key>
		<string>0(off)1(info)2(warning)4(error)</string>
		<key>---说明:bits&amp;</key>
		<string>info+warning+error=1+2+4=7</string>
		<key>ALL</key>
		<integer>0</integer>
		<key>Database</key>
		<integer>4</integer>
		<key>Network</key>
		<integer>4</integer>
		<key>sy</key>
		<integer>7</integer>
		<key>cs</key>
		<integer>0</integer>
		<key>wyq</key>
		<integer>0</integer>
		<key>zzy</key>
		<integer>0</integer>
		<key>zh</key>
		<integer>0</integer>
		<key>tsc</key>
		<integer>0</integer>
		<key>lw</key>
		<integer>0</integer>
		<key>phm</key>
		<integer>0</integer>
		<key>wl</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
