<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basic</key>
	<dict>
		<key>owner</key>
		<string></string>
	</dict>
	<key>debug</key>
	<true/>
	<key>timestamp</key>
	<false/>
	<key>file</key>
	<true/>
	<key>line</key>
	<true/>
	<key>level</key>
	<true/>
</dict>
</plist>
